<?xml version="1.0" encoding="UTF-8"?>
<beans>

<!--    <bean id="userDao" class="com.akalin.spring.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod" />-->

    <bean id="userService" class="com.akalin.spring.bean.UserService" scope="prototype">
        <property name="uId" value="1001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="com.akalin.spring.bean.ProxyBeanFactory"/>
    <bean id = "beanFactoryPostProcessor" class="com.akalin.spring.bean.MyBeanFactoryPostProcessor"/>
    <bean id = "beanPostProcessor" class="com.akalin.spring.bean.MyBeanPostProcessor"/>

</beans>